<!-- Navigation -->
<nav class="site-nav">
  <ul class="menu">
    <li class="site-title">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </li>
    {% for page in site.pages %}
      {% if page.title %}
      <!-- suppress all category and tag meta pages -->
        {% if page.url contains '/meta/' or page.title contains 'Category archive' %}
        {% else %}
            {% if page.url contains '404' %}
            {% else %}
            <li>
                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %}
          {% endif %}
        {% endif %}
    {% endfor %}
  </ul>
</nav>
